/*****************TAG SELECTORS*******************/
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

div{
    background-color: #FFE69A;

}

h1{
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}

h2{
    font-family: 'Montserrat', sans-serif;
}




h3{
    font-family: 'Montserrat', sans-serif;
}
/*****************CLASS SELECTORS*******************/
.bottom-cloud{
    position: absolute;
    left: 33%;
    bottom: 300px;
}

.bottom-container{
    background-color: #FFD24C;
}

.middle-container{
    background-color: #FFE69A;
}

.skillz{
    height: 400px;
    width: 400px;
}

.top-cloud{
    position: absolute;
    right: 33%;
    top: 50px;
}

.top-container{
    background-color: #92B4EC;
    position: relative;
    padding-top: 100px;
}
/*****************ID SELECTORS*******************/

#profilePic{
    padding-top: 20px;
    height: 300px;
    width: 300px;
}