/*****************TAG SELECTORS*******************/
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

div{

}

h1{
    color: #FFFFFF;
    line-height: 2;
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 560%;
}

h2{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-width: normal;
}

h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
/*****************CLASS SELECTORS*******************/
.bottom-cloud{
    position: absolute;
    left: 33%;
    bottom: 300px;
}

.bottom-container{
    background-color: #FFD24C;
}

.middle-container{
    background-color: #FFE69A;
}

.skillz{
    height: 400px;
    width: 400px;
}

.top-cloud{
    position: absolute;
    right: 33%;
    top: 50px;
}

.top-container{
    background-color: #92B4EC;
    position: relative;
    padding-top: 100px;
}
/*****************ID SELECTORS*******************/

#profilePic{
    padding-top: 20px;
    height: 300px;
    width: 300px;
}